<mat-card class="example-card neon-border">
  <div class="card-image-container">
    <img mat-card-image class="card-image" [src]="card.pic" alt="Photo of a Shiba Inu">
  </div>
  <mat-card-header class="title-card">
    <mat-card-title>{{(card.name).toUpperCase() }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="description-card">
    <p>{{card.description}}</p>
  </mat-card-content>
  <mat-card-actions>
    <div class="btns">
      <button mat-button (click)="onLike(card.id)" [ngClass]="{'btn-default': card.likes < 5,'btn-blue': card.likes >= 5, 'btn-gold': card.likes > 10}">
        LIKE {{card.likes}}
      </button>
      <button mat-button (click)="onShare()" class="btn-default">SHARE</button>
    </div>
  </mat-card-actions>
</mat-card>