/* Add application styles & imports to this file! */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1.5;
    background-color: #111111;
  }